.move-to-action-modifier { 
    border: 3px solid #E20505;
    padding-top: 40px;
    color: #000 !important;
    padding-left: 10px;
    padding-right: 10px;
    h5 { 
        color: #4B4949;
        font-weight: 900;
        font-size: 24px !important;
    }
    p { 
        color: #4B4949 !important;
    }
    .timer { 
        color: #4B4949;
        border-color: rgba(0, 0, 0, 0.507);
        background: rgba(197, 191, 175, 0.1) !important;
    }
   
}