@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes scale {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes btt {
    0% {
        opacity: 0;
        transform: translateY(200px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes ttb {
    0% {
        opacity: 0;
        transform: translateY(-200px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes ltr {
    0% {
        opacity: 0;
        transform: translateX(-200px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes rtl {
    0% {
        opacity: 0;
        transform: translateX(200px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes scale-ltr {
    0% {
        opacity: 0;
        transform: scale(0) translateX(-200px);
    }
    100% {
        opacity: 1;
        transform: scale(1) translate(0);
    }
}
@keyframes scale-rtl {
    0% {
        opacity: 0;
        transform: scale(0) translateX(200px);
    }
    100% {
        opacity: 1;
        transform: scale(1) translate(0);
    }
}

.scroll-animate {
    animation-duration: 600ms;
    animation-delay: 0ms;
    animation-timing-function: ease;
    animation-play-state: paused;
    animation-fill-mode: backwards;
}
.scroll-animate.animate-play {
    animation-play-state: running;
}
.scroll-animate.animate-100 {
    animation-duration: 100ms;
}
.scroll-animate.animate-200 {
    animation-duration: 200ms;
}
.scroll-animate.animate-300 {
    animation-duration: 300ms;
}
.scroll-animate.animate-400 {
    animation-duration: 400ms;
}
.scroll-animate.animate-500 {
    animation-duration: 500ms;
}
.scroll-animate.animate-700 {
    animation-duration: 700ms;
}
.scroll-animate.animate-800 {
    animation-duration: 800ms;
}
.scroll-animate.animate-900 {
    animation-duration: 900ms;
}
.scroll-animate.animate-1000 {
    animation-duration: 1000ms;
}

.scroll-animate.animate-delay-100 {
    animation-delay: 100ms;
}
.scroll-animate.animate-delay-200 {
    animation-delay: 200ms;
}
.scroll-animate.animate-delay-300 {
    animation-delay: 300ms;
}
.scroll-animate.animate-delay-400 {
    animation-delay: 400ms;
}
.scroll-animate.animate-delay-500 {
    animation-delay: 500ms;
}
.scroll-animate.animate-delay-600 {
    animation-delay: 600ms;
}
.scroll-animate.animate-delay-700 {
    animation-delay: 700ms;
}
.scroll-animate.animate-delay-800 {
    animation-delay: 800ms;
}
.scroll-animate.animate-delay-900 {
    animation-delay: 900ms;
}
.scroll-animate.animate-delay-1000 {
    animation-delay: 1000ms;
}

.scroll-animate.animate-ease-out {
    animation-timing-function: ease-out;
}
.scroll-animate.animate-ease-in-out {
    animation-timing-function: ease-in-out;
}
.scroll-animate.animate-ease-in {
    animation-timing-function: ease-in;
}
.scroll-animate.animate-linear {
    animation-timing-function: linear;
}

.scroll-animate.animate-fade {
    animation-name: fade;
}
.scroll-animate.animate-scale {
    animation-name: scale;
}
.scroll-animate.animate-ltr {
    animation-name: ltr;
}
.scroll-animate.animate-rtl {
    animation-name: rtl;
}
.scroll-animate.animate-scale-ltr {
    animation-name: scale-ltr;
}
.scroll-animate.animate-scale-rtl {
    animation-name: scale-rtl;
}
.scroll-animate.animate-btt {
    animation-name: btt;
}
.scroll-animate.animate-ttb {
    animation-name: ttb;
}